machine:
  certSANs: 
%{ for cert_san in cert_sans ~}
    - ${cert_san}
%{ endfor ~}
  network: 
    hostname: ${hostname}
    interfaces:
      - deviceSelector:
          physical: true
        addresses:
          - ${ip_address}/${cidr}
        routes:
          - network: 0.0.0.0/0
            gateway: ${gateway}
    nameservers: 
%{ for nameserver in nameservers ~}
      - ${nameserver}
%{ endfor ~}
  install:
    disk: ${disk}
  kubelet:
    extraArgs:
      rotate-server-certificates: true

%{ if nvidia == true }
  kernel:
    modules:
      - name: nvidia
      - name: nvidia_uvm
      - name: nvidia_drm
      - name: nvidia_modeset
  sysctls:
    net.core.bpf_jit_harden: 1
%{ endif }